astroid==2.5.6
autopep8==1.5.7
box2d-py==2.3.8
cloudpickle==1.6.0
flake8==3.9.2
graphviz==0.16
greenlet==1.1.0
gym==0.18.3
isort==5.8.0
jedi==0.17.2
lazy-object-proxy==1.6.0
mccabe==0.6.1
msgpack==1.0.2
neovim==0.3.1
numpy==1.20.3
parso==0.7.1
Pillow==8.2.0
pluggy==0.13.1
pycodestyle==2.7.0
pydocstyle==6.1.1
pyflakes==2.3.1
pyglet==1.5.15
pylint==2.8.3
pynvim==0.4.3
python-jsonrpc-server==0.4.0
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.0.1
rope==0.19.0
scipy==1.6.3
snowballstemmer==2.1.0
toml==0.10.2
torch==1.8.1
torchviz==0.0.2
typing-extensions==3.10.0.0
ujson==4.0.2
wrapt==1.12.1
yapf==0.31.0
